<ion-view view-title="Favoritos">
  <ion-content>
    <ion-list>
      <a class="item item-thumbnail-left" href="#/app/playlists/{{playlist.id}}"
      <ion-item ng-repeat="playlist in playlists" href="#">
        {{playlist.title}}
        <br/>
        {{playlist.address}}
        <br/>
        {{playlist.price}}
        <br/>
        {{playlist.rating}}
        <br/>
        {{playlist.phone}}
        <br/>
        Distance
      </ion-item>
    </a>
    </ion-list>
  </ion-content>
</ion-view>
