<ion-view class="place" view-title="{{playlist.title}}">
  <ion-content>
    <div id="map" data-tap-disabled="true"></div>

    <div class="contenido">
        <h1>{{playlist.title}}</h1>
        <h2>{{playlist.address}}, {{playlist.city}}, {{playlist.state}}</h2>
        <h3>{{playlist.phone}}</h3>
        <h3>{{playlist.dist}}</h3>
        <h3>{{playlist.price}}</h3>
        <h3><span class="icon ion-star" ng-repeat="i in getRatingArray(playlist)"></span></h3>

        <a class="button button-block button-light button-outline ion-ios7-telephone" ng-href="tel:{{playlist.phone}}">
          Llamar
        </a>
        <button class="button button-block button-outline button-light">
              Compartir
        </button>

        <ng-switch on="{{playlist.fav}}">
            <button id="fav" class="button button-block button-light button-outline" ng-switch-when="0" ng-click="addFavorite(playlist)">
              Agregar a Favoritos
            </button>
            <button id="remove-fav" class="button button-block button-light button-outline fav" ng-switch-when="1" ng-click="addFavorite(playlist)">
                Quitar de Favoritos
            </button>
        </ng-switch>
    </div>

    <div class="item item-image" style="-webkit-filter: blur(5px);">
      <img src="{{playlist.img}}">
    </div>

  </ion-content>
</ion-view>
