<ion-view class="places-list" view-title="Detalle Restaurantes">
  <ion-content>
    <ion-list>
        <div class="card" ng-repeat="playlist in playlists">
            <a class="item href="#/app/playlists/{{playlist.id}}">
                <div class="item item-image">
                    <img src="{{playlist.img}}"/>
                    <span class="icon fav-icon ion-android-favorite-outline" ng-class="{hide:playlist.fav==0,show:playlist.fav==1}"></span>
                </div>
                <div class="item item-text-wrap">
                    <div class="left">
                        <span class="title">{{playlist.title}}</span>
                        <br/>
                        {{playlist.address}}
                    </div>
                    <div class="right">
                        <span class="icon ion-star" ng-repeat="i in getRatingArray(playlist)"></span>

                        <br/>
                        {{playlist.dist}}
                    </div>
                </div>
            </a>
            <div class="item item-divider">
                <a class="button button-light icon ion-ios-location">Ver Mapa</a>
                <a class="button button-light icon ion-ios-telephone" href="tel: {{playlist.phone}}">Llamar</a>
                <a class="button button-light icon ion-plus" href="#/app/playlists/{{playlist.id}}">Ver más</a>
            </div>
        </div>

        <!--
        <a class="item item-thumbnail-left" href="#/app/playlists/{{playlist.id}}"
          <ion-item ng-repeat="playlist in playlists" href="#">
            {{playlist.title}}
            <br/>
            {{playlist.address}}
            <br/>
            {{playlist.price}}
            <br/>
            {{playlist.rating}}
            <br/>
            {{playlist.phone}}
            <br/>
            Distance
              <br/>
              <ion-button class="button-light icon ion-heart"></ion-button>
              <ion-button class="button-light icon ion-map"></ion-button>
              <ion-button class="button-assertive icon ion-trash-a"></ion-button>
          </ion-item>
        </a>
        -->
    </ion-list>
  </ion-content>
</ion-view>
