<ion-view view-title="Búsqueda">
  <ion-content>
    <!-- Primer combo -->
    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          ¿Que queres hacer?
        </div>
        <select>
          <option> Cena </option>
          <option selected>Bar </option>
          <option> Delivery </option>
        </select>
      </label>
    <!-- </div> -->
    <!-- Segundo combo -->
    <!-- <div class="list"> -->
      <label class="item item-input item-select">
        <div class="input-label">
          ¿Con Quien?
        </div>
        <select>
          <option> Amigos </option>
          <option selected>Pareja </option>
          <option> Familia </option>
        </select>
      </label>
    <!-- </div> -->
    <!-- Tercer combo -->
    <!-- <div class="list"> -->
      <label class="item item-input item-select">
        <div class="input-label">
          ¿Donde?
        </div>
        <select>
          <option> Mi ubicación Actual </option>
          <option selected>Capital Federal </option>
          <option> Buenos Aires </option>
        </select>
      </label>
    </div>
    <button class="button button-block button-royal" type="button" ng-click=href="#/app/playlists"
    <div class="title"> Buscar </div>
  </button>
