/* General */

@font-face {
    font-family: 'RalewayLight';
    src: url('../fonts/RalewayLight.eot');
    src: url('../fonts/RalewayLight.eot') format('embedded-opentype'),
    url('../fonts/RalewayLight.woff2') format('woff2'),
    url('../fonts/RalewayLight.woff') format('woff'),
    url('../fonts/RalewayLight.ttf') format('truetype'),
    url('../fonts/RalewayLight.svg#RalewayLight') format('svg');
}
@font-face {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/AvenirLTStd-Roman.woff') format('woff');
}


*, h1, h2 {font-family: "Avenir";}

.bar.bar-positive {
    /*
    background:
    -webkit-linear-gradient(45deg, hsla(331, 47%, 62%, 1) 0%, hsla(331, 47%, 62%, 0) 70%),
    -webkit-linear-gradient(315deg, hsla(164, 48%, 62%, 1) 10%, hsla(164, 48%, 62%, 0) 80%),
    -webkit-linear-gradient(225deg, hsla(273, 46%, 61%, 1) 10%, hsla(273, 46%, 61%, 0) 80%),
    -webkit-linear-gradient(135deg, hsla(41, 46%, 61%, 1) 100%, hsla(41, 46%, 61%, 0) 70%);
    background:
    linear-gradient(45deg, hsla(331, 47%, 62%, 0.5) 0%, hsla(331, 47%, 62%, 0) 70%),
    linear-gradient(135deg, hsla(164, 48%, 62%, 0.5) 10%, hsla(164, 48%, 62%, 0) 80%),
    linear-gradient(225deg, hsla(273, 46%, 61%, 0.5) 10%, hsla(273, 46%, 61%, 0) 80%),
    linear-gradient(315deg, hsla(41, 46%, 61%, 0.9) 100%, hsla(41, 46%, 61%, 0) 70%);
     */
    /*
    background: rgba(12,99,238, 0.8) !important; /* or transparent, or background:none */

    background: rgba(28, 90, 128, 0.95);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 3px;
}

/*
bar.bar-custom, bar.bar-custom .bar.bar-positive, .bar-custom .nav-bar-block ion-header-bar {
    background-color: rgba(0,0,0,0.1);
    box-shadow: none;
}
*/

.bar .title {
    margin-top: 2px;
}

.scroll-content {
    overflow: visible !important;
}


/* Menu */
.menu-left .item-content .icon { margin-right: 10px; }

/* Places List */

.places-list {
    background-color: #ddd; background-image: url("../img/pattern-bkg2.png");

    background:
    -webkit-linear-gradient(45deg, hsla(231, 49%, 25%, 1) 0%, hsla(231, 49%, 25%, 0) 70%),
    -webkit-linear-gradient(315deg, hsla(182, 44%, 35%, 1) 10%, hsla(182, 44%, 35%, 0) 80%),
    -webkit-linear-gradient(225deg, hsla(189, 50%, 24%, 1) 10%, hsla(189, 50%, 24%, 0) 80%),
    -webkit-linear-gradient(135deg, hsla(207, 51%, 55%, 1) 100%, hsla(207, 51%, 55%, 0) 70%);
    background:
    linear-gradient(225deg, hsla(189, 50%, 24%, 1) 10%, hsla(189, 50%, 24%, 0) 80%),
    linear-gradient(45deg, hsla(231, 49%, 25%, 1) 0%, hsla(231, 49%, 25%, 0) 70%),
    linear-gradient(315deg, hsla(207, 51%, 55%, 1) 100%, hsla(207, 51%, 55%, 0) 70%),
    linear-gradient(135deg, hsla(182, 44%, 35%, 1) 10%, hsla(182, 44%, 35%, 0) 80%);

}

.places-list .card {background: rgba(255,255,255,0.3);}
.places-list .item {padding: 0; background: none; }
.places-list .item .item-text-wrap {
    padding: 10px 10px 50px 10px;
    margin-top: -70px;
    background: rgba(0, 0, 0, 0.4);
    border: 0;
    color: #fff;
}
.places-list .item .item-text-wrap .left {float: left;}
.places-list .item .item-text-wrap .right {float: right;}
.places-list .list .title { font-weight: 500; font-size: 14pt; }
.places-list .item-divider { border: 0; background: linear-gradient(to bottom, rgba(110,110,110,1) 0%,rgba(245,245,245,1) 8%); }
.places-list .item .button { text-shadow:1px 1px 1px #ffffff; font-weight: 400; font-size: 10pt !important; border: 0; width: 33%; background: none; padding: 2px 12px; border-right: 1px solid #ddd;
    margin: 10px 0;line-height: 32px; min-height: 32px;

    background-color: #444;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
}
.places-list .item .button.icon:before {font-size: 18px; margin-right: 10px;margin-top:-1px;line-height: 31px; color: #666;}
.places-list .item-image { height: 230px; }
.places-list .item-image .fav-icon { position: absolute; top: 7px; right: 8px; font-size: 26px; color: rgba(255,255,255,0.8); }


/* Place */

.place {
    background:
    -webkit-linear-gradient(45deg, hsla(231, 49%, 25%, 1) 0%, hsla(231, 49%, 25%, 0) 70%),
    -webkit-linear-gradient(315deg, hsla(182, 44%, 35%, 1) 10%, hsla(182, 44%, 35%, 0) 80%),
    -webkit-linear-gradient(225deg, hsla(189, 50%, 24%, 1) 10%, hsla(189, 50%, 24%, 0) 80%),
    -webkit-linear-gradient(135deg, hsla(207, 51%, 55%, 1) 100%, hsla(207, 51%, 55%, 0) 70%);
    background:
    linear-gradient(225deg, hsla(189, 50%, 24%, 1) 10%, hsla(189, 50%, 24%, 0) 80%),
    linear-gradient(45deg, hsla(231, 49%, 25%, 1) 0%, hsla(231, 49%, 25%, 0) 70%),
    linear-gradient(315deg, hsla(207, 51%, 55%, 1) 100%, hsla(207, 51%, 55%, 0) 70%),
    linear-gradient(135deg, hsla(182, 44%, 35%, 1) 10%, hsla(182, 44%, 35%, 0) 80%);

    color: #fff;
}
.place .contenido { padding: 20px; }
.place h1 {
    color: #fff;
    opacity: 0.75;
    font-size: 16pt;
}
.place h2 {
    color: #fff;
    opacity: 0.54;
    font-size: 14pt;
}
.place h3 {
    color: #fff;
    opacity: 0.54;
    font-size: 14pt;
    font-weight: 300;
}

.scroll {
    height: 100%;
}
#map {
    width: 100%;
    height: 40%;
}
.place button.fav { border-color: #EA8B7D !important; color: #EA8B7D !important; }
.place button.activated { background-color: rgba(255, 255, 255, 0.1) !important; }

.place .item-image { filter: blur(5px); }